<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      </div>

      <div class="footer-col footer-col-2">
        {% include social.html %}
        <ul class="social-media-list" style="margin-top: -8px; ">
          {% if site.codepen_username %}
          <li>
            <a href="https://codepen.io/{{ site.codepen_username }}">{% include icon-codepen.svg %} <span class="username">{{ site.codepen_username }}</span></a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
        <p><small>Legal: <a class="page-link" href="/impressum/">Impressum</a> - <a class="page-link" href="/datenschutz/">Datenschutz</a></small></p>
      </div>
    </div>

  </div>

</footer>
